In [1]:
from keras.datasets import mnist
from keras.utils import np_utils
import numpy as np
np.random.seed(10)

Using TensorFlow backend.

In [2]:
(trainx, trainy), (testx, testy) = mnist.load_data()

In [3]:
trainx4d = trainx.reshape(trainx.shape[0], 28, 28, 1).astype('float32')
testx4d = testx.reshape(testx.shape[0], 28, 28, 1).astype('float32')

In [4]:
trainx4d_normalize = trainx4d / 255
testx4d_normailize = testx4d / 255

In [5]:
trainy_onehot = np_utils.to_categorical(trainy)
testy_onehot = np_utils.to_categorical(testy)

In [6]:
from keras.models import Sequential
from keras.layers import Dense, Dropout, Flatten, Conv2D, MaxPooling2D

In [7]:
model = Sequential()

In [9]:
model.add(Conv2D(filters=16,
                kernel_size=(5,5),
                padding='same',
                input_shape=(28,28,1),
                activation='relu'))

In [10]:
model.add(MaxPooling2D(pool_size=(2,2)))

In [11]:
model.add(Conv2D(filters=36,
                kernel_size=(5,5),
                padding='same',
                activation='relu'))

In [12]:
model.add(MaxPooling2D(pool_size=(2,2)))

In [13]:
model.add(Dropout(0.25))

In [14]:
model.add(Flatten())

In [15]:
model.add(Dense(128, activation='relu'))

In [16]:
model.add(Dropout(0.5))

In [17]:
model.add(Dense(10, activation='softmax'))

In [18]:
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
conv2d_1 (Conv2D)            (None, 28, 28, 16)        416
_________________________________________________________________
max_pooling2d_1 (MaxPooling2 (None, 14, 14, 16)        0
_________________________________________________________________
conv2d_2 (Conv2D)            (None, 14, 14, 36)        14436
_________________________________________________________________
max_pooling2d_2 (MaxPooling2 (None, 7, 7, 36)          0
_________________________________________________________________
dropout_1 (Dropout)          (None, 7, 7, 36)          0
_________________________________________________________________
flatten_1 (Flatten)          (None, 1764)              0
_________________________________________________________________
dense_1 (Dense)              (None, 128)               225920
_________________________________________________________________
dropout_2 (Dropout)          (None, 128)               0
_________________________________________________________________
dense_2 (Dense)              (None, 10)                1290
=================================================================
Total params: 242,062
Trainable params: 242,062
Non-trainable params: 0
_________________________________________________________________

In [20]:
model.compile(loss='categorical_crossentropy',
             optimizer='adam', metrics=['accuracy'])

In [21]:
train_history = model.fit(x=trainx4d_normalize,
                         y=trainy_onehot, validation_split=0.2,
                         epochs=10, batch_size=300, verbose=2)

Train on 48000 samples, validate on 12000 samples
Epoch 1/10
38s - loss: 0.4904 - acc: 0.8464 - val_loss: 0.0959 - val_acc: 0.9724
Epoch 2/10
39s - loss: 0.1394 - acc: 0.9587 - val_loss: 0.0637 - val_acc: 0.9803
Epoch 3/10
40s - loss: 0.1015 - acc: 0.9696 - val_loss: 0.0504 - val_acc: 0.9844
Epoch 4/10
41s - loss: 0.0844 - acc: 0.9752 - val_loss: 0.0463 - val_acc: 0.9857
Epoch 5/10
40s - loss: 0.0714 - acc: 0.9781 - val_loss: 0.0393 - val_acc: 0.9882
Epoch 6/10
39s - loss: 0.0638 - acc: 0.9808 - val_loss: 0.0385 - val_acc: 0.9888
Epoch 7/10
39s - loss: 0.0556 - acc: 0.9827 - val_loss: 0.0415 - val_acc: 0.9881
Epoch 8/10
39s - loss: 0.0509 - acc: 0.9840 - val_loss: 0.0340 - val_acc: 0.9900
Epoch 9/10
38s - loss: 0.0443 - acc: 0.9863 - val_loss: 0.0344 - val_acc: 0.9898
Epoch 10/10
42s - loss: 0.0427 - acc: 0.9874 - val_loss: 0.0336 - val_acc: 0.9903

In [25]:
score = model.evaluate(testx4d_normailize, testy_onehot)
print()
print('測試集準確度：', score[1])

 9952/10000 [============================>.] - ETA: 0s
測試集準確度： 0.9909

In [26]:
prediction = model.predict_classes(testx4d_normailize)

 9920/10000 [============================>.] - ETA: 0s

In [27]:
prediction[:10]

array([7, 2, 1, 0, 4, 1, 4, 9, 5, 9])

In [31]:
import pandas as pd
pd.crosstab(testy, prediction, 
            rownames=['label'], colnames=['predic'])

predic    0     1     2     3    4    5    6     7    8    9
label
0       976     0     0     0    0    0    2     1    1    0
1         0  1131     0     0    0    1    1     1    1    0
2         3     3  1023     0    1    0    0     2    0    0
3         0     0     0  1006    0    1    0     1    2    0
4         0     0     0     0  974    0    1     0    1    6
5         1     0     0     5    0  883    2     0    0    1
6         4     2     0     0    2    1  948     0    1    0
7         0     1     3     3    0    0    0  1018    1    2
8         4     0     3     2    1    1    0     2  955    6
9         1     3     0     2    4    1    0     3    0  995